<div class="container">
  <%=render 'layouts/list',user: current_user, post: Post.new%>
  <div class="mb-4">
    <h2>ユーザー</h2>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>画像</th>
          <th>名前</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user|%>
        <tr>
          <td><%=image_tag user.get_profile_image(50,50)%></td>
          <td><%=user.name%></td>
          <td><%=link_to '詳細へ',user_path(user),class: 'btn btn-sm btn-secondary'%></td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>