<div class="container">
    <h2>lifenoteについて</h2>
     <h2>日々の思い出を共有しよう</h2>
        <p>LifeNoteは、あなたの日常の出来事や感想を気軽に共有できるプラットフォームです</p>
        <p>他のユーザーと交流しながら、日々の生活をより豊かなものにしていきましょう</p>
   
     <h2>主な機能</h2>
     <li>日記の投稿、編集、削除</li>
     <li>他のユーザーの投稿の閲覧</li>
    <li>プロフィール管理</li>
      
</div>
   
   
   
   
   
   
   
   
   
  