<div class="container">
    <h1 class="mb-4">lifenoteについて</h1>
     <h2 class="mb-3">日々の思い出を共有しよう</h2>
      <p>LifeNoteは、あなたの日常の出来事や感想を簡単に記録や共有できるプラットフォームです。</p>
      <p>友達や家族、または他のユーザーと交流しながら、日々の生活をより豊かなものにしていきましょう。</p>
   
     <h2 class="mb-4">主な機能</h2>
     <ol>
     <li>日記の投稿、編集、削除</li>
     <li>他のユーザーの投稿の閲覧とコメント</li>
     <li>プロフィール管理とカスタマイズ</li>
     </ol>

   <h2 class="mb-4">lifenoteを使うメリット</h2>
   <ol>
   <li>毎日の記録を通じて自己成長を実感できる</li>
   <li>共有を通じて他の人からのフィードバックが得られる</li>
   <li>思い出を一生大切に保存できる</li>
   </ol>
</div>
   
   
   
   
   
   
   
   
   
  