<div class="container">
  <h1 class="mb-4">lifeNoteにようこそ!</h1>  
  <p>日々の出来事をシェアして、みんなと交流しよう。</br>LifeNoteは、あなたの日常をみんなと共有できる日記共有SNSです。</p>

<h2 class="mb-4">始め方は簡単！</h2>
<ol>
<li>アカウントを作成</li>
<li>日記を書いて投稿</li>
<li>他のユーザーと交流を楽しもう</li>
</ol>

<div class="mb-3">  
<%=link_to 'ログイン',new_user_session_path,class: 'btn btn-primary me-2'%>
<%=link_to '新規登録',new_user_registration_path,class: 'btn btn-success'%>
</div>
</div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    

