<div class="container">
  <h1>lifeNoteにようこそ!</h1>  
  <p>日々の出来事をシェアして、みんなと交流しよう</p>
  <p>LifeNoteは、あなたの日常をみんなと共有できる日記共有SNSです。</p>

<%=link_to 'Log in',new_user_registration_path%>
<%=link_to 'Sign up',new_user_session_path%>

</div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    

